<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IJCDecauxService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/JCDecauxService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJCDecauxService"
                contract="ServiceReference1.IJCDecauxService" name="WSHttpBinding_IJCDecauxService">
                <identity>
                    <userPrincipalName value="PAULINE\pdevi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>